<div class="card">

  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="users?.length">
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let user of users"
              [ngClass]="{'active': user?.id === selectedUser?.id}"
              (click)="userSelected(selectedUser)">{{ user.userName }}
        <ng-container *ngIf="displayCode">
          ({{ user.position }})
        </ng-container>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
        <label>
          <input class="form-check-input"
                 type="checkbox"
                 (change)="checkChanged()"
                 [checked]="displayCode">
          Display Position
        </label>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary"
                (click)="newUser()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>